*{
margin: 0;
padding: 0;
box-sizing: border-box;

}
body{
    background-color: hsl(148, 38%, 91%);
}
.formulario{
    display: flex;
    justify-content: center;
    align-items: center;

}
form{
  background-color: white;
  height: 60vh;
  width: 40vw;
  border-radius: 1em;
  padding: 2em;

}
.campoNome, .campoDeselecao {
    display: flex;
}
 
input{
    width: 100%;
    height: 5vh;
    border-radius: 0.5em;
    border: 1px solid lightgray;
}
button{
    width: 100%;
    height: 5vh;
    background-color: green;
    color: white;
    border-radius: 0.5em;
}